
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    /*TELA CHEIA*/
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(red, yellow)
    /* 
    background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
    */
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

.logo img{
    height: 50px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    margin: 0px 20px;
    text-transform: uppercase;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;   
}
.header-button{
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 10px 30px;
    font-weight: bold;
}

#banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px 30px;
}
#banner div{
    width: 50%;
    margin: 60px 60px 20px 60px;
}
.text p{
    margin: 20px 0px;
}

.text a{
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 5px;
}
img{
    height: 300px;
}

.image{
    text-align: center;
}